@import "tailwindcss";

:root {
  --background-dark: #121212;
  --background-light: #d5d5d5;
  --primary-gold: #ffaa00;
  --secondary-red: #d32f2f;
  --text-light: #ffffff;
  --text-dark: #121212;
  --text-muted: #b3b3b3;
  --button-blue: #1e88e5;
  --border-light: #444444;
}
@layer utilities {
  .bg-dark {
    background-color: var(--background-dark);
  }
  .bg-primary-gold {
    background-color: var(--primary-gold);
  }
  .bg-secondary-red {
    background-color: var(--secondary-red);
  }

  .text-light {
    color: var(--text-light);
  }
  .text-muted {
    color: var(--text-muted);
  }
  .text-blue{
    color: var(--button-blue);
  }

  .border-light {
    border-color: var(--border-light);
  }

  .bg-button-blue {
    background-color: var(--button-blue);
  }
}

body {
  background: var(--background-light);
  color: var(--text-dark);
  font-family: var(--font-roboto);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
