@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-white: #ffffff;
  --color-gray-300: #e3e5e8;
  --color-gray-500: #f1f3f7;
  --color-gray-600: #e3e5e8;
  --color-dark-100: #151517;
  --color-dark-200: #1a1926;
  --color-blue: #2d99ff;
  --color-blue-hover: #1666b3;
  --color-orange: #ff9640;
  --color-red: #e53e3e;
  --color-red-hover: #a60000;
  --color-yellow: #fbbf24;
  --color-green: #28a745;
  --color-gray: #f7fafc;
  --color-dark: #121212;
  --color-dark-2: #1a1a1a;

  --breakpoint-2-cards: 450px;
  --breakpoint-3-cards: 680px;
  --breakpoint-4-cards: 1550px;
  --breakpoint-5-cards: 1950px;

  --breakpoint-custom-sm: 25rem;
  --breakpoint-custom-md: 30rem;
  --breakpoint-custom-lg: 78rem;
}

body {
  font-family: var(--font-roboto);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.customContainer {
  @apply max-w-[380px] sm:max-w-[570px] md:max-w-[750px] custom-lg:max-w-[950px] 2xl:max-w-[1550px] mx-auto p-6;
}
