@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --color-white: #ffffff;
  --color-gray-300: #e3e5e8;
  --color-gray-500: #f1f3f7;
  --color-gray-600: #e3e5e8;
  --color-dark-100: #151517;
  --color-dark-200: #1a1926;
  --color-blue: #2d99ff;
  --color-blue-hover: #1a74cc;
  --color-orange: #ff9640;
  --color-red: #e53e3e;
  --color-yellow: #fbbf24;
  --breakpoint-custom: 78rem;
}

body {
  background: var(--background-light);
  color: var(--text-dark);
  font-family: var(--font-roboto);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
